<% content_for(:title, t('.title')) %>
<% breadcrumb :profile_show %>
<%= javascript_pack_tag 'user_destroy_confirm' %>

<div class = 'profile_page_margin'>
  <h1 class = 'display-5 text-center title_margin'><%= t '.title' %></h1>

  <div class = 'card card_margin bg-light mx-auto' style = 'width: 70%;'>
    <div class = 'card-body'>
      <ul class = 'list-group list-group-flush'>
        <li class = 'list-group-item d-flex justify-content-between align-items-center'>
          <label class = 'badge badge-primary'><%= User.human_attribute_name(:user_name) %></label>
          <p class = 'p_margin_auto text-right'><%= @user.user_name %></p>
        </li>
        <li class = 'list-group-item d-flex justify-content-between align-items-center'>
          <label class = 'badge badge-primary'><%= User.human_attribute_name(:email) %></label>
          <p class = 'p_margin_auto text-right'><%= @user.email %></p>
        </li>
      </ul>
      <div class = 'container'>
        <div class = 'btn-group btn-group_margin d-flex justify-content-between align-items-center'>
          <%= link_to t('profiles.edit.title'), edit_profile_path, class: 'btn btn-sm btn-outline-primary' %>
          <%= link_to t('profiles.password_reset.title'), password_reset_profile_path, class: 'btn btn-sm btn-outline-primary' %>
          <a class = 'btn btn-sm btn-outline-danger' id = 'destroy_btn'><%= t('.user_destroy') %></a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to '', profile_path, method: :delete, id: 'user_destroy' %>
<input type = 'hidden' id = 'confirm_date' value = "<%= t('.user_destroy_confirm') %>">
<!-- テスト時のlocalstorageのリセット用 -->
<a id = 'local_storage_reset'></a>
