<% content_for(:title, t('.title')) %>
<% breadcrumb :profile_show %>
<h1><%= t '.title' %></h1>

<p><%= User.human_attribute_name(:user_name) %></p>
<%= @user.user_name %>
<p><%= User.human_attribute_name(:email) %></p>
<%= @user.email %>
<br>
<%= link_to t('profiles.edit.title'), edit_profile_path %>
<%= link_to t('profiles.password_reset.title'), password_reset_profile_path %>