<div class = 'container item_form'>
  <%= form_with model: [preset, preset_item], local: true, class: 'item_width form' do |f| %>
    <h1 class = 'h3 mb-3 font-weight-normal text-center'><%= title %></h1>
    <%= render 'shared/error_messages', model: preset_item %>

    <%= f.label ItemCategory.human_attribute_name(:item_category_name), class: 'badge badge-primary' %><br>
    <%= f.collection_select :item_category_id, preset.item_categories, :id, :item_category_name, class: 'form-control' %><br>

    <%= f.label :preset_item_name, class: 'badge badge-primary' %>
    <%= f.text_field :preset_item_name, class: 'form-control' %><br>

    <% if preset_item.edit? %>
      <div class = 'btn-group btn-block'>
        <%= f.submit class: 'btn btn-lg btn-outline-primary' %>
        <%= link_to t('defaults.destroy'), preset_preset_item_path(preset, preset_item), method: :delete, data: {confirm: t('defaults.destroy_confirm', name: preset_item.preset_item_name)}, class: 'btn btn-lg btn-outline-danger' %>
      </div><br>
    <% else %>
      <%= f.submit class: 'btn btn-lg btn-primary btn-block' %>
    <% end %><br>

    <%= link_to t('presets.show.category_index'), preset_item_categories_path(preset), class: 'btn btn-sm btn-primary' %>
  <% end %>
</div>