<h1><%= t '.title' %></h1>
<%= form_with url: password_resets_path, local: true, method: :post do |form| %>
  <div class="field">
    <%= form.label t('.user_email') %><br />
    <%= form.text_field :email %>
    <%= form.submit t('default.send') %>
  </div>
<% end %>