<%= form_with model: [inventory_list, property_category], local: true do |f| %>
  <div class = "category<%= property_category.id %>">
    <div class = 'field'>
      <%= f.text_field :category_name %>
    </div>
    <div class = 'actions'>
      <%= f.submit %>
      <% if property_category.edit? %>
        <%= link_to t('defaults.destroy'), inventory_list_property_category_path(inventory_list, property_category), method: :delete, data: {confirm: t('defaults.category_destroy_confirm', name: property_category.category_name)} %>
      <% end %>
    </div>
    <br>
  </div>
<% end %>