<% content_for(:title, t('.title')) %>
<% breadcrumb :use_preset_index, @inventory_list %>
<h1><%= t '.title' %></h1>

<%= render 'search', q: @q, url: inventory_list_use_presets_path(@inventory_list) %>

<%= link_to t('presets.new.title'), new_preset_path %>
<br>
<br>

<% if @presets.present? %>
  <% @presets.each do |preset| %>
    <%= preset.preset_name %>
    <%= link_to t('defaults.use'), inventory_list_use_preset_path(@inventory_list, preset) %>
    <br>
  <% end %>
  <%= paginate @presets %>
<% else %>
  <p><%= t '.preset_less' %></p>
<% end %>