<% content_for(:title, t('.title')) %>
<div class = 'container signin_form'>
  <%= form_with model: @user, local: true, class: 'signin_width form' do |f| %>
    <h1 class = 'h3 mb-3 font-weight-normal text-center'><%= t '.title' %></h1>
    <%= render 'shared/error_messages', model: @user %>

    <%= f.label :user_name, class: 'badge badge-primary' %>
    <%= f.text_field :user_name, class: 'form-control' %>

    <%= f.label :email, class: 'badge badge-primary' %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password, class: 'badge badge-primary' %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, class: 'badge badge-primary' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %><br>

    <%= javascript_pack_tag 'user_agree' %>
    <%= label_tag 'user[consent]', class: 'container' do %>
      <%= check_box_tag :check, true, false, class: 'user_agree_check_margin', id: 'agree_check_box' %>
      <%= link_to t('supports.terms_of_servise.title'), terms_of_servise_path, target: '_blank' %>・<%= link_to t('supports.privacy_policy.title'), privacy_policy_path, target: '_blank' %><%= t '.agree'  %>
    <% end %>
    <br><br>
    <%= f.submit t('defaults.register'), class: 'btn btn-lg btn-primary btn-block', id: 'register_btn' %>
  <% end %>
</div>