<h1><%= t '.title' %></h1>

<%= form_with model: @user, local: true do |f| %>
  <%= render 'shared/error_messages', model: @user %>
  <div class = 'field'>
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name %>
  </div>
  <div class = 'field'>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class = 'field'>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class = 'field'>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class = 'actions'>
    <%= f.submit t('defaults.register') %>
  </div>
<% end %>

<%= link_to t('defaults.login'), login_path %>