<div class = 'modal_redisplay_right'>
  <i class = 'fa-sharp fa-regular fa-circle-question fa-xl modal_redisplay'></i>
</div>

<div class = 'container item_form'>
  <%= form_with model: [inventory_list, property], local: true, class: 'item_width form' do |f| %>
    <h1 class = 'h3 mb-3 font-weight-normal text-center'><%= title %></h1>
    <%= render 'shared/error_messages', model: property %>

    <%= f.label PropertyCategory.human_attribute_name(:category_name), class: 'badge badge-primary' %><br>
    <%= f.collection_select :property_category_id, inventory_list.property_categories, :id, :category_name, class: 'form-control' %><br>

    <%= f.label :property_name, class: 'badge badge-primary' %><br>
    <%= f.text_field :property_name, class: 'form-control' %><br>

    <%= f.label :amazon_url_or_product_name, class: 'badge badge-primary' %><br>
    <%= f.text_field :amazon_url_or_product_name, class: 'form-control' %><br>

    <% if property.edit? %>
      <div class = 'btn-group btn-block'>
        <%= f.submit class: 'btn btn-lg btn-outline-primary' %>
        <%= link_to t('defaults.destroy'), inventory_list_property_path(inventory_list, property), method: :delete, data: {confirm: t('defaults.destroy_confirm', name: property.property_name)}, class: 'btn btn-lg btn-outline-danger' %>
      </div><br>
    <% else %>
      <%= f.submit class: 'btn btn-lg btn-primary btn-block' %>
    <% end %><br>

    <%= link_to t('inventory_lists.show.category_index'), inventory_list_property_categories_path(@inventory_list), class: 'btn btn-sm btn-primary' %>
  <% end %>
</div>

<!-- モーダルウィンドウ -->
<%= javascript_pack_tag 'property_modal' %>
<div class = 'bg_modal_window'>
  <div class = 'modal_window' id = 'modal1' alt = 'modal'>
    <span><%= image_tag 'property_modal_step1.png', class: 'modal_image' %></span>
  </div>
  <div class = 'modal_window' id = 'modal2' alt = 'modal'>
    <span><%= image_tag 'property_modal_step2.png', class: 'modal_image' %></span>
  </div>
</div>
