<header class="sticky-top">
  <h1><%= link_to t('defaults.app_name'), root_path %></h1>
  <div align = 'right'>
  <% if logged_in? %>
    <li>
      <%= link_to t('profiles.show.title'), profile_path %>
    </li>
    <li>
      <%= link_to t('defaults.logout'), logout_path, method: :delete %>
     </li>
  <% else %>
    <li>
       <%= link_to t('defaults.singin'), new_user_path %>
    </li>
    <li>
       <%= link_to t('defaults.login'), login_path %>
     </li>
  <% end %>
  </div>
</header>