<% content_for(:title, t('.title')) %>
<% breadcrumb :purchase_list_index %>

<h1 class = 'display-5 text-center title_margin'><%= t '.title' %></h1>
<%= render 'search', q: @q, url: purchase_lists_path %>

<div class = 'py-4'>
  <div class = 'container'>
    <%= link_to t('purchase_lists.new.title'), new_purchase_list_path, class: 'btn btn-sm btn-primary' %>
    <% if @purchase_lists.present? %>
      <ul class = 'list-group'>
        <% @purchase_lists.each do |purchase_list| %>
          <li class = 'list-group-item bg-light'>
            <div class = "purchase_list<%= purchase_list.id %> d-flex justify-content-between align-items-center">
              <p class = 'p_margin_auto'><%= purchase_list.purchase_list_name %></p>
              <div class = 'btn-group'>
                <%= link_to t('defaults.show'), purchase_list_path(purchase_list), class: 'btn btn-sm btn-outline-secondary' %>
                <%= link_to t('defaults.destroy'), purchase_list_path(purchase_list), method: :delete, data: {confirm: t('defaults.destroy_confirm', name: purchase_list.purchase_list_name)}, class: 'btn btn-sm btn-outline-danger' %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <%= paginate @purchase_lists %>
    <% else %>
      <div class = 'text-center item_less_margin'>
        <h3><%= t '.list_less' %></h3>
        <p class = 'lead'><%= t '.list_less2' %></p>
      </div>
    <% end %>
  </div>
</div>
