<h1><%= t '.title' %></h1>

<%= render 'search', q: @q, url: inventory_lists_path %>

<%= link_to t('inventory_lists.new.title'), new_inventory_list_path %>
<br>
<br>

<% if @inventory_lists.present? %>
  <% @inventory_lists.each do |inventory_list| %>
    <div class = "inventory_list<%= inventory_list.id %>">
      <%= inventory_list.inventory_list_name %>
      <%= link_to t('defaults.show'), inventory_list_path(inventory_list) %>
      <%= link_to t('defaults.destroy'), inventory_list_path(inventory_list), method: :delete, data: {confirm: t('defaults.destroy_confirm', name: inventory_list.inventory_list_name)} %>
      <br>
    </div>
  <% end %>
  <%= paginate @inventory_lists %>
<% else %>
  <p><%= t '.list_less' %></p>
<% end %>