<div class = 'container list_form'>
  <%= form_with model: preset, local: true, class: 'list_width form' do |f| %>
    <h1 class = 'h3 mb-3 font-weight-normal text-center'><%= title %></h1>
    <%= render 'shared/error_messages', model: preset %>

    <%= f.label :preset_name, class: 'badge badge-primary' %>
    <%= f.text_field :preset_name, class: 'form-control' %><br>

    <%= f.submit class: 'btn btn-lg btn-primary btn-block' %>
  <% end %>
</div>